body {
    background-color: rgb(255, 255, 255);
    font-family: din-round, sans-serif;
    font-size: 18px;
  }

#name{
  font-family: Comic Sans MS, Comic Sans, Cursive;
  font-size: 25px;
}

h1 {
    font-size: 35px;
    margin: 5px 0px;
}

h2 {
  margin: 5px 0px;
}

h3 {
  margin: 5px 0px;
}

.main{
  margin-left: 100px;
  margin-right: 100px;
}

.header{
  font-family: "Arial-Black", sans-serif;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(40, 40, 40);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  background-color: white;
}

nav ul li{
  float: left;
  border-right: 1px solid black;
}

nav ul li a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  color: #303030;
}

nav ul li:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover:not(.active) {
  background-color: #c1c1c1;
}

.active {
  background-color: #98b7ff;
}

/* ul {
  list-style-type: none;
} */

/* img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
} */